li {
  list-style-type: none;
}
.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.buttonGroup {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  padding: 10px;
  border: 1px;
  background-color:rgba(255, 255, 255, 0.7);
}
button {
  border: 0;
  background: transparent;
  font-weight: bold;
  font-size: 19;
}
button:hover {
  text-decoration: underline;
  color: white;
}
.image {
  width: 60px;
  height: 50px;
}
