.homeContainer {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8am91cm5hbHxlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}
.goToMain{
  align-self: center;
  text-align: center;
  background-color: beige;
}
.notLogin{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}