.mainContainer {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5e18f199837d8053a9382a3f/1587850915565-R5P2OG4SCJ54KHL0BCQ2/Canva+-+Photo+Of+Person+Writing+On+White+Paper.jpg");
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
